[Desktop Entry]
Name=Cockpit
Comment=Cockpit Web Console
Exec=xdg-open https://localhost:9090
Terminal=false
Type=Application
Icon=/usr/local/share/icons/cockpit-logo.svg
Categories=System;