[Unit]
Description=Configure GNOME Settings for All Users
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '\
    for user in $(getent passwd | grep /home | cut -d: -f1); do \
        sudo -u $user DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/$(id -u $user)/bus" \
            gsettings set org.gnome.desktop.interface color-scheme "prefer-dark" && \
            gsettings set org.gnome.desktop.interface gtk-theme "Adwaita-dark" && \
            gsettings set org.gnome.desktop.wm.preferences button-layout "appmenu:minimize,maximize,close" && \
            gsettings set org.gnome.desktop.wm.preferences num-workspaces 1 && \
            gsettings set org.gnome.desktop.wm.preferences mouse-button-modifier "<Alt>" && \
            gsettings set org.gnome.mutter center-new-windows true && \
            gsettings set org.gnome.desktop.interface enable-animations false && \
            gsettings set org.gnome.nautilus.preferences show-hidden-files true && \
            gsettings set org.gnome.nautilus.preferences default-folder-viewer "list-view" && \
            gsettings set org.gnome.nautilus.list-view default-zoom-level "standard" && \
            gsettings set org.gnome.settings-daemon.plugins.color night-light-enabled true && \
            gsettings set org.gnome.settings-daemon.plugins.color night-light-temperature 4000; \
    done'

[Install]
WantedBy=graphical-session.target